<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>

                    <ExcludeByFile>
                        v2/Program.cs
                        v2/Core/DTOs/*.cs
                        v2/Migrations/*.cs
                    </ExcludeByFile>


                    <ExcludeByAttribute>
                        <Attribute>GeneratedCodeAttribute</Attribute>
                        <Attribute>CompilerGeneratedAttribute</Attribute>
                        <Attribute>ExcludeFromCodeCoverageAttribute</Attribute>
                    </ExcludeByAttribute>

                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>