<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>

                    <!-- Exclude boilerplate -->
                    <ExcludeByFile>
                        <File>**/Program.cs</File>
                        <File>**/*Dto.cs</File>
                        <File>**/*DTO.cs</File>
                        <File>**/Migrations/*.cs</File>
                    </ExcludeByFile>

                    <!-- Optional but recommended -->
                    <ExcludeByAttribute>
                        <Attribute>GeneratedCodeAttribute</Attribute>
                        <Attribute>CompilerGeneratedAttribute</Attribute>
                    </ExcludeByAttribute>

                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>