<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>

                    <ExcludeByFile>
                        **/Program.cs
                        **/DTOs/*.cs
                        **/Migrations/*.cs
                    </ExcludeByFile>

                    <ExcludeByAttribute>
                        GeneratedCodeAttribute
                        CompilerGeneratedAttribute
                        ExcludeFromCodeCoverageAttribute
                    </ExcludeByAttribute>

                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>